<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tzkedqbot-function.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/8a51e30c-f770-4db1-acc1-bed86bddfafd/resourceGroups/TZK/providers/Microsoft.Web/sites/tzkedqbot-function</ResourceId>
    <UserName>$tzkedqbot-function</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://tzkedqbot-function.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>